html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    cursor: pointer;
    display: block;
    width: 100%;
}